* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --primary: rgb(19, 18, 18);
    --secondary: white;
    --hoverbackground: rgb(53, 46, 46);
    --footercontent: rgba(223, 224, 225, 1);
    --buttonborder: 1px solid grey;
}

.navb {
    display: grid;
    grid-template-columns: auto 60vw auto auto;
    align-items: center;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 1.75vh;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.navlist {
    padding-top: inherit;
    justify-content: flex-start;
}

.navbarlist {
    display: flex;
    list-style: none;
    margin: auto;
}

#navbarbuttons {
    color: var(--secondary);
    font-weight: 600;
}

#navbarsearchbutton {
    display: flex;
    color: var(--secondary);
    font-weight: 700;
    column-gap: 5px;
    align-items: center;
    gap: 10px;
    border: var(--buttonborder);
    border-radius: 1px;
    width: 9vw;
}

#navbarsearchbutton:hover {
    border-color: var(--secondary);
}

.navlikecartprofile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.likecartprofilebutton {
    padding: 10px;
}

.likecartprofilebutton:hover {
    background-color: var(--hoverbackground);
    border-radius: 20%;
}

/*Navbar Ends*/

/*IMAGE 1*/
.image1 {
    position: relative;
    color: white;
}

.image1content {
    position: absolute;
    top: 35vh;
    padding-left: 5vw;

}

.image1content>h2 {
    font-weight: 600;
    font-size: 40px;
}

.image1content>h3 {
    font-weight: 700;
}

.image1content>p {
    text-wrap: balance;
}

.image1content>button,
.image2>div>button,
.image3>div>button,
.image4>div>button,
.image5>div>button {
    background-color: var(--secondary);
    border-radius: 2px;
    font-weight: 700;
    margin-top: 2vh;
}

/*IMAGE 1 ENDS*/

/*IMAGE 2 ENDS*/
.image2 {
    margin-top: 6vh;
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 6vh;
}

.image2>div {
    position: absolute;
    top: 14vh;
    left: 20vw;
}

/*IMAGE 2 ENDS*/
/*IMAGE 3*/
.image3 {
    position: relative;
    color: white;
    margin-bottom: 6vh;
}

.image3>div {
    position: absolute;
    top: 30vh;
    left: 5vw;
}

.image3>div>h1 {
    font-weight: 700;
}

.image3>div>h4 {
    font-weight: 100;
}

/*IMAGE 4 */
.image4 {
    position: relative;
    color: white;
    text-align: center;
}

.image4>div {
    position: absolute;
    top: 27vh;
    left: 33vw;
}

.image4>div>h1 {
    font-weight: 700;
}

.image4>div>h4 {
    font-weight: 100;
}

/*IMAGE 4 END*/

/*List1*/
.shoeslist1 {
    align-items: center;
    position: relative;
    margin: 30px 0px;
}

.shoeslist1>h2,
.banner1heading,
.image5head>h2,
.lastlisting>h2 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
}

.shoeslist1-1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;

}

.listing1::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(2, 2, 2, 0.8) 0%, transparent 100%);
}

.listing1 {
    position: relative;
}

.listing1>p {
    position: absolute;
    top: 260px;
    left: 25px;
    font-weight: 700;
    font-size: large;
    color: white;
}

/*List1 end*/


/*Banner1*/
.banner1 {
    margin: 30px;
}

.subbanner1 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    position: relative;
    margin: 30px 0px;
}

.subbanner1-1>p {
    position: absolute;
    top: 90%;
    font-size: xx-large;
    margin-left: 2%;
    font-weight: 900;
    font-style: oblique;
    color: white;
}

.subbanner1-1::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 47%;
    height: 30%;
    background: linear-gradient(to top, var(--primary) 0%, transparent 100%);
}

/*IMAGE 5*/
.image5 {
    margin: 30px 0px;
    position: relative;
}

.image5>div {
    color: white;
    position: absolute;
    top: 30%;
    right: 5%;
    text-align: end;
}

.image5>div>h2 {
    font-weight: 700;
}

/*Last Listing*/

.lastlisting>div {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin: 5vh;
}

.lastlisting>div>div {
    position: relative;
}

.lastlisting>div>div>div {
    position: absolute;
    top: 80%;
    color: white;
    left: 15px;
}

.lastlisting>div>div>div>h3 {
    font-weight: 700;
}

.lastlisting>div>div::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, var(--primary) 0%, transparent 100%);
}

/*footer*/
footer {
    background-color: var(--primary);
    color: white;
    padding-top: 7vh;
    padding-left: 10vh;
    padding-right: 10vh;
}

.upperfooter {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    padding-bottom: 4vh;
    border-bottom: 1px solid var(--footercontent);
}

.footerlist {
    list-style: none;
    align-items: center;
    padding: 0px;
    margin: 0px;
    color: var(--footercontent)
}

.footerlist li {
    margin: 5px 0px;
}

.footerlist>li>a {
    color: var(--footercontent);
    text-decoration: none;
}

.footerlist2:hover {
    color: var(--secondary);
}

.footerexplore {
    margin-top: 30px;
}

.footerexplore>div {
    margin-top: 10px;
}

.footerexploreimage {
    border: 1px solid grey;
    border-radius: 5px;
}

.footerexploreimage:hover {
    border: 1px solid white;
}

.footerbottom {
    padding-top: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialmedia {
    display: flex;
    gap: 15px;
}

.statechange {
    font-size: larger;
    font-weight: 700;
    border: 1px solid var(--secondary);
    padding: 2vh 5vh;
    display: flex;
}

.address {
    font-size: small;
    color: var(--footercontent);
    text-align: end;
}

.address>p>a {
    color: var(--footercontent);
    text-decoration: none;
}

/*footer end*/